{% extends "workSheet_print_base.html" %}

{% block print_content %}
<h1 class="print_question">{{ question_text }}</h1> 

<ol class="print_page">
    {% for word in words %}
        <li>
            {{ word }}<br>
            <span class="print_question_underline">こたえ：　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　</span>
        </li>
    {% endfor %}
</ol>

<!-- 問題再作成ボタン -->
 <div class="no_print">
    <form action="{{ url_for('narabikae.index') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="generate">
        <input type="hidden" name="question_count" value="{{ count }}">
        <input type="hidden" name="kana_mode" value="{{ kana_mode }}">
        <button type="submit">問題再作成</button>
    </form>

    <button onclick="window.print()">印刷</button>

</div>
{% endblock %}