<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% extends "workSheet_base.html" %}
    {% block content %}
    <h1>{{ question_text }}</h1>

    <ol class="print_page">
        {% for word in words %}
            <li>
                {{ word }}<br>
                （　　　　　　　　　　　　　　　　　　　　）
            </li>
        {% endfor %}
    </ol>

    <!-- 問題再作成ボタン -->
    <form action="{{ url_for('narabikae.index') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="generate">
        <input type="hidden" name="question_count" value="{{ count }}">
        <input type="hidden" name="kana_mode" value="{{ kana_mode }}">
        <button type="submit">問題再作成</button>
    </form>

    <button onclick="window.print()">印刷</button>
    {% endblock %}
</body>
</html>
