<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>

    <form action="/" method="post" enctype="multipart/form-data">
        <!-- シート名選択-->
        <p>シート名を選択してください。</p><br>
        {% for key, sheet_info in sheet_infos.items() %}
            <div class="sheet_option">
                <label class="label {% if not sheet_info.is_completed %}maintenance{% endif %}">
                    <input 
                        type="radio"
                        name="sheet_name"
                        value="{{ key }}" 
                        required
                        {% if not sheet_info.is_completed %}disabled{% endif %}
                    >
                    {{ sheet_info.label }}
                </label>
                <div class="summary">{{ sheet_info.summary }}</div>
            </div>
        {% endfor %}
        <br>
        <button type="submit">シートを選択</button>
    </form>
</body>
</html>
