{% extends "worksheet_base.html" %}

{% block content %}
<!-- 日付・名前入力欄 -->
<div class="print_date_name">
    <span class="date_name_underline">　　　　　がつ　　　　　にち</span>
    <span class="date_name_underline">なまえ　　　　　　　　　　　　　　　　　　　　　　</span>
    <span class="date_name_underline">　　　　　　てん</span>
</div>

{% block print_content %}{% endblock %}

<!-- ============ 前画面に戻るボタン ============ -->
<form action="{{ back_url }}" method="get">
    <button class="no_print" type="submit">前画面に戻る</button>
</form>

{% endblock %}



