<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body data-has-csv="{{ 'true' if session_filename else 'false' }}" data-reopen-modal="{{ session.pop('reopen_modal', False) }}">
    <!-- 共通タイトル -->
    <h1 class="page_title">{{ title }}</h1>

    <!-- flashメッセージ -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- コンテンツ部分 -->
    {% block content %}{% endblock %}
    <hr class="no_print">

    <!-- トップに戻るボタン-->
    <form action="{{ url_for('top.index') }}" method="get">
        <button class="no_print" type="submit">トップに戻る</button>
    </form>
</body>
</html>