body {
    font-family: sans-serif;
    margin: 20px;
}
h1 {
    font-size: 1.2em;
}
ol {
    margin-top: 20px;
}
button {
    padding: 8px 16px;
}

/* ファイル選択ボタン横のファイル名表示を消す */
input[type="file"] {
    color: transparent;
}


/*******************************************************************/
/*【トップ画面設定】*/
/*******************************************************************/

.sheet_option {
    margin-bottom: 1em;
}

.sheet_option .label {
    font-weight: bold;
    display: block;
}

.sheet_option .summary {
    margin-left: 2em;
    color: #555;
    font-size: 0.9em;
}

/* SHEET_INFO.is_completed = False の場合、メンテナンスモード */
.sheet_option .label.maintenance {
    color: gray;
}

.sheet_option input[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}


/*******************************************************************/
/*【手入力モーダル設定】*/
/*******************************************************************/
/* モーダル全体（非表示時はJSが display:none にする） */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;            /* デフォルト非表示 */
    justify-content: center;  /* 横方向中央 */
    align-items: center;      /* 縦方向中央 */
    z-index: 1000;            /* 最前面に */
}
/* 背景（半透明の黒） */
.modal__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/* モーダル本体（白いカード） */
.modal__panel {
    position: relative;
    background: #fff;
    padding: 2em;
    border-radius: 8px;
    z-index: 1001;
    max-width: 500px;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.modal__header {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5em;
}

/* .modal__body {} */
/* .modal__footer {} */

.csv_input_empty {
    display: none;
    color: red;
    margin-top: 10px;
}

.page_title {
    font-size: 40px;
    text-align: center;
    margin-bottom:1em;
}


/*******************************************************************/
/*【印刷画面】*/
/*******************************************************************/
.print_date_name {
    font-size: 0.8em;
    text-align: center;
}

.date_name_underline {
    border-bottom: 1px solid #000;
    margin-right: 1.5em;
}

.print_question {
    font-size: 1.5em;
    margin-bottom: 1em;
    white-space: pre-line;      /* \n を開業として表示 */
}

/*******************************************************************/
/*【問題出力】*/
/*******************************************************************/
.print_page {
    font-size: 1.8em;
    line-height: 1.8;
}

.print_question_underline {
    font-size: 0.5em;
    border-bottom: 1px solid #000;
    margin-right: 1.5em;
}

/* 画面表示はするが、印刷時は非表示 */
@media print {
    .no_print {
        display: none !important;
    }
}